.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-form-1 {
  height: 316px;
  margin: 92px 175px 92px 78px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 54px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}